$color1: #b10ffd;
// $color1x: #ffffff;
$color2: #a300f0;
// $color2x: #ffffff;
$color3: #8d07f6;
// $color3x: #ffffff;
$color4: #f3f0ea;
// $color4x: #ffffff;
$color5: #f0ebe4;
// $color5x: #ffffff;
$color6: #303131;
// $color6x: #ffffff;
