.logInContainer {
   width: 500px;
   padding: 20px;
   ul {
      list-style: none;
      width: 100%;
      li {
         width: 100%;
         padding: 0 10px;
         label {
            display: block;
            font-size: 24px;
         }
         input {
            width: 100%;
            font-size: 24px;
            padding: 4px 10px;
         }
      }
      button {
         width: 50%;
         margin: 0 auto;
         display: flex;
         justify-content: center;
         text-align: center;
         background-color: green;
         border: none;
         outline: none;
         border-radius: 6px;
         padding: 6px 10px;
         color: white;
         display: block;
         margin-top: 20px;
         font-size: 24px;
      }
   }
}
