@import "./colorBar.scss";

.VacancyList {
  width: 80%;
  //   height: ;
  display: flex;
  // background: $color4;
  flex-direction: column-reverse;
  list-style: none;
  //   border-radius:
  //   box-shadow: ;
  //   align-items: ;
  //   justify-content: ;
}
