@import "./colorBar.scss";

.VacancyList {
  width: 80%;
  //   height: ;
  display: flex;
  background: $color4;
  //   border-radius:
  //   box-shadow: ;
  //   align-items: ;
  //   justify-content: ;
}
